<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><?php Core_Page::instance()->showTitle()?></title>
	<meta name="description" content="<?php Core_Page::instance()->showDescription()?>" />
	<meta name="keywords" content="<?php Core_Page::instance()->showKeywords()?>" />
	<meta content="text/html; charset=<?php echo SITE_CODING?>" http-equiv="Content-Type" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<?php Core_Page::instance()->showCss()?>
	<?php Core_Browser::check()?>
</head>

<body>
<div id="coming-soon">
    <?php
        Core_Page::instance()->execute();
    ?>
    <a href="http://www.hostcms.ru" target="_blank" class="center">Система управления сайтом Host CMS</a>
</div>
</body>
</html>